<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<style>
.confirmButton {
	margin-right: 5em;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div
					class=""
					id="loginModal">
					<div class="modal-header">
						<h3>Salon Appointment Manager Password Recovery</h3>
						<br />
						<form
							class="form-horizontal"
							action='/sendRecoveryEmail'
							method="POST">
							<fieldset>
								<div class="control-group">
									<!-- Username -->
									<label
										class="control-label"
										for="emailAddress">Please enter the email address
										associated with your account to receive a reset code:</label>
									<div class="controls">
										<input
											type="text"
											id="emailAddress"
											name="emailAddress"
											placeholder=""
											class="input-xlarge" />
									</div>
								</div>
							</fieldset>
							<input
								type="submit"
								class="btn btn-success confirmButton"
								value="Send Recovery Email" />
								<a><button class="btn btn-danger cancelButton">Cancel</button></a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>