<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
</head>
<body>
	<!-- <div>
	<a href="/googleLogin"><img
		th:src="@{/img/btn_google_signin_dark_normal_web.png}" /></a>
</div> -->
	
	<div class="container">
		<div class="row">
			<div class="span12">
				<div
					class=""
					id="loginModal">
					<div class="modal-header">
						<h3>Welcome to Salon Appointment Manager. To continue, please
							log into your existing account, or sign up for a new account.</h3>
					</div>
					<div>
						<h3 th:text="${error}"></h3>
					</div>
					<div class="modal-body">
						<div class="well">
							<ul class="nav nav-tabs">
								<li class="active"><a
									href="#login"
									data-toggle="tab">Login</a></li>
								<li><a
									href="#create"
									data-toggle="tab">Create Account</a></li>
							</ul>
							<div
								id="myTabContent"
								class="tab-content">
								<div
									class="tab-pane active in"
									id="login">
									<form
										class="form-horizontal"
										action='/login'
										method="POST">
										<fieldset>
											<div class="control-group">
												<!-- Username -->
												<label
													class="control-label"
													for="username">Email Address</label>
												<div class="controls">
													<input
														type="text"
														id="emailAddress"
														name="emailAddress"
														placeholder=""
														class="input-xlarge" />
												</div>
											</div>
											<div class="control-group">
												<!-- Password-->
												<label
													class="control-label"
													for="password">Password</label>
												<div class="controls">
													<input
														type="password"
														id="password"
														name="password"
														placeholder=""
														class="input-xlarge" />
												</div>
											</div>
											<br />
											<div class="control-group">
												<!-- Button -->
												<div class="controls">
													<button class="btn btn-success">Login</button>
													<a href="/forgottenPassword">Forgot your password?</a>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
								<div
									class="tab-pane fade"
									id="create">
									<form
										id="tab"
										method="POST"
										action="/createAccount">
										<label>Email</label> <br /> <input
											id="emailAddress"
											name="emailAddress"
											type="text"
											value=""
											class="input-xlarge" /> <br /> <label>Password</label><br />
										<input
											id="password"
											name="password"
											type="password"
											value=""
											class="input-xlarge" /> <br /> <label>Confirm
											Password</label><br /> <input
											id="confirmPassword"
											name="confirmPassword"
											type="password"
											value=""
											class="input-xlarge" /> <br /> <label>First Name</label><br />
										<input
											id="firstName"
											name="firstName"
											type="text"
											value=""
											class="input-xlarge" /> <br /> <label>Last Name</label><br />
										<input
											id="lastName"
											name="lastName"
											type="text"
											value=""
											class="input-xlarge" /> <br /> <label>Phone Number</label>
										<br /> <input
											id="phoneNumber"
											name="phoneNumber"
											type="text"
											value=""
											class="input-xlarge" /> <br /> <label>Enter Salon
											Code (Leave blank if unknown)</label> <br /> <input
											id="salonCode"
											name="salonCode"
											type="number"
											value=""
											class="input-xlarge" /> <br /> <br />
										<div>
											<button class="btn btn-primary">Create Account</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
