<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Salon Appointment Manager</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<style>
th, td {
	padding: 5px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button
					type="button"
					class="navbar-toggle"
					data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a
					class="navbar-brand"
					href="">Salon Appointment Manager</a>
			</div>
			<div
				class="collapse navbar-collapse"
				id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/login">My Appointments</a></li>
					<li class="active"><a href="/requestNewAppointment">Request
							New Appointment</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div
			class="col-xs-12"
			style="text-align: center;">
			<h2>Request New Appointment</h2>
			<form
				id="addAppointment"
				action="/customerRequestAppointment">
				<div class="form-group">
					<label
						for="appointmentType"
						id="appointmentTypeLabel">Type of Appointment:</label> <select
						id="appointmentType"
						name="appointmentType"
						class="form-control"
						required="required">
						<option></option>
						<option>Haircut</option>
						<option>Nails</option>
					</select>
				</div>
				<div class="form-group">
					<label
						for="appointmentDate"
						id="appointmentDateInputLabel">Desired Appointment Date:</label> <input
						type="date"
						id="appointmentDate"
						name="appointmentDate"
						class="form-control"
						required="required" />
				</div>
				<div class="form-group">
					<label
						for="alternateAppointmentDate"
						id="alternateAppointmentDateInputLabel">Alternate
						Appointment Date (Optional):</label> <input
						type="date"
						id="alternateAppointmentDate"
						name="alternateAppointmentDate"
						class="form-control"
						required="required" />
				</div>
				<div class="form-group">
					<label
						for="appointmentStartTime"
						id="appointmentStartTimeInputLabel">Desired Appointment
						Time:</label> <input
						type="time"
						id="appointmentStartTime"
						name="appointmentStartTime"
						class="form-control"
						required="required" />
				</div>
				<div class="form-group">
					<label
						for="alternateAppointmentTime"
						id="alternateAppointmentTimeLabel">Alternate Appointment
						Time (Optional):</label> <input
						type="time"
						id="alternateAppointmentTime"
						name="alternateAppointmentTime"
						class="form-control"
						required="required" />
				</div>
				<div class="form-group">
					<label
						for="preferredStylist"
						id="preferredStylistLabel">Preferred Stylist (Optional):</label> 
						<select
						id="preferredStylist"
						name="preferredStylist">
						<option value="0">No Preference</option>
						<option
							th:each="stylist : ${stylists}"
							th:value="${stylist.id}"
							th:text="${stylist}"></option>
					</select>
				</div>
				<br /> <input
					type="submit"
					value="Submit" />
			</form>
		</div>
	</div>
</body>
</html>